@page "/counter"
@inherits XeniaPro.Localization.Web.LocalizedComponentBase

<PageTitle>@Localizer["Counter"]</PageTitle>

<h1>Counter</h1>

<p role="status">@Localizer["CurrentCount"]: @_currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">@Localizer["ClickMe"]</button>

@code {
    private int _currentCount = 0;

    private void IncrementCount()
    {
        _currentCount++;
    }

}